name: overmind
description: The central control unit for BotMatrix.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.2.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  
  # State Management
  provider: ^6.1.1
  
  # Networking
  web_socket_channel: ^2.4.0
  http: ^1.2.0
  
  # UI/Animation
  google_fonts: ^6.1.0
  flutter_animate: ^4.5.0
  intl: 0.20.2
  
  # Icons
  cupertino_icons: ^1.0.6

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
  generate: true
